{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-flow", 
        ["@babel/preset-env",{"targets": {"browsers": ["last 5 versions"]}}]
    ],
    "plugins": [
        "babel-plugin-styled-components",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-jsx"
    ]
}
